aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.10
frozenlist==1.3.0
idna==3.3
lcu-driver==2.1.3
multidict==6.0.2
Pillow==9.0.0
psutil==5.9.0
pyinstaller==4.8
pyinstaller-hooks-contrib==2022.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
yarl==1.7.2
